<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="Chrome"/>
		<add key="url" value="https://mail.ru/"/>
		<add key="hub" value="http://192.168.0.11:4444/wd/hub"/>
		<add key="sauceLabs" value="https://Gevorg_Safaryan:e8c2f636-68d6-434d-a8ce-0002a12d0b90@ondemand.apac-southeast-1.saucelabs.com:443/wd/hub"/>
		<add key="platform" value="Windows"/>
	</appSettings>
</configuration>